<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1085988157302-btmuhu4hmo6o5rd3f7010ikfumnqopd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085988157302-btmuhu4hmo6o5rd3f7010ikfumnqopd3</string>
	<key>API_KEY</key>
	<string>AIzaSyBDD-AVHMAYq2fxcvOOp8e9PR2leV7oNsk</string>
	<key>GCM_SENDER_ID</key>
	<string>1085988157302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urbaneater.irestaurant</string>
	<key>PROJECT_ID</key>
	<string>urbaneater-2426c</string>
	<key>STORAGE_BUCKET</key>
	<string>urbaneater-2426c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085988157302:ios:76c5b109c39e1d79</string>
	<key>DATABASE_URL</key>
	<string>https://urbaneater-2426c.firebaseio.com</string>
</dict>
</plist>